/*Freddie2.html*/
*{
padding: 0px;
margin: 0px;
background-color: black;
color: yellow;
}
.a:link, a:visited {
color : yellow;
}
.a:hover, a:active{
color : white;
background-color : orange;
