/*freddie_után*/
*{ 
	margin: 0px;
	padding: 0px;
	background-color : black;
	color: yellow;
}
.a:link, a:visited {
color : yellow;
}
.a:hover, a:active{
color : white;
background-color : orange;
}
